---
- hosts: localhost
  become: yes

  tasks:

    - name: Update apt repository cache
      apt:
        update_cache: yes


    - name: Install required packages
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
        state: present

    - name: Install docker.io package
      apt:
        name: docker.io
        state: present

    - name: Enable and start docker service
      service:
        name: docker
        state: started
        enabled: yes

    - name: Add current user to docker group
      user:
        name: nagwa
        groups: docker
        append: yes
